.container-fluid.birthday-action-wrapper
  .container.birthday-action-cont
    .birthday-action.img-big-wrapper
    p.birthday-action-desc Дарим к заказу пиццу-пирог в День вашего рождения, три дня до него и десять — после.<br>Акцией можно пользоваться все 14 дней подряд – по разу в день!
    