.container-fluid.block-icons-wrapper
  .container.block-icons-cont
    .block-icons-item(class="wow fadeInUp" data-wow-delay="0.1s")
      img.img-icon(src="../img/icons&buttons/icons1.png", alt="")
      p.icon-description Начинку готовим из свежих продуктов
    .block-icons-item(class="wow fadeInUp" data-wow-delay="0.2s")
      img.img-icon(src="../img/icons&buttons/icons2.png", alt="")
      p.icon-description Курочку маринуем заранее, с луком и специями
    .block-icons-item(class="wow fadeInUp" data-wow-delay="0.3s")
      img.img-icon(src="../img/icons&buttons/icons3.png", alt="")
      p.icon-description Ягоду используем свежую, замороженную и варим сами