.first-screen.container-fluid.first-screen-wrapper
  .first-screen.container-fluid.first-background-img
    .first-screen.container.cont
      .first-action-img(align="center" class="wow fadeInRightBig" data-wow-duration="2s")
        a.link(href="/") 
          p.first-trigger <br>30% скидка<br>при первом<br>заказе!
  .first-screen.container-fluid.background
    .first-screen.background-title(align="center")
      h1.first-screen.first-title Быстрый перекус,<br>питательный обед,<br>приятное чаепитие
