.container-fluid.footer-wrapper
  .container.footer-cont
    p.footer-title По вопросам Заказа и Доставки будем рады ответить по телефону:
    p.footer-phonenumbers +7 (913) 007-59-10
    p.footer-phonenumbers 286-59-10
    p.footer-worktime 
      | с 7:00 до 18:00 в будни,<br>
      | с 9:00 до 18:00 в выходные.
    p.footer-details ООО «Первый хлебный»
    p.footer-details 630047, г. Новосибирск, ул. Новая 24,
    p.footer-details ИНН 5406979058
    p.footer-details тел: 8 (383)-286-59-10
    p.footer-details Email: happy-bakery@mail.ru

      

