.header.container-fluid__wrapper
  .header.container.navigation
    .header.row.no-gutters.navrow
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo01.collapse.navbar-collapse
          a.navbar-brand(href='/') HappyBakery
            img.brand__logo(src="", alt="", srcset="")
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item
              a.nav-link(href='/') Главная
                span.sr-only (current)
            li.nav-item
              a.nav-link.dayoffer(href='#') Предложение дня
            li.nav-item
              a.nav-link(href='http://happy-bakery.ru/' target="_blank") В пекарню
      .header__phone-numbers
        ul.header__phone-numbers-ul
          li.header__phone-numbers-item 8-(383)-286-59-10
          li.header__phone-numbers-item 8-(913)-007-59-10

    

    