.container-fluid.payment-wrapper
  .container.payment-cont(class="wow fadeInLeftBig" data-wow-delay="0.1s")
    p.payment-description Оплата производится наличными (по чеку) или переводом на карту Сбербанка.