.container-fluid.slyder-actions__wrapper
  .slyder-actions__arrow-prev-background
  .container.slyder-actions__slyder
    .responsive.slyder
      img.slyder-actions-img(src="../img/slider-action/slider-action1.png", alt="")
      img.slyder-actions-img(src="../img/slider-action/slider-action2.png", alt="")
      img.slyder-actions-img(src="../img/slider-action/slider-action3.png", alt="")
      img.slyder-actions-img(src="../img/slider-action/slider-action4.png", alt="")
      img.slyder-actions-img(src="../img/slider-action/slider-action5.png", alt="")
  .slyder-actions__arrow-next-background