extends template

block header
  include includes/_header

block first-screen
  include includes/_first-screen

block offer-of-day
  include includes/_offer-of-day

block slyder-actions
  include includes/_slyder-actions

block pies
  include includes/_pies
  
block block-icons
  include includes/_block-icons

block sweet-pies
  include includes/_sweet-pies

block birthday-action
  include includes/_birthday-action

block office-lunch
  include includes/_office-lunch

block three-pies-action
  include includes/_three-pies-action

block sweet-pause
  include includes/_sweet-pause

block delivery
  include includes/_delivery

block payment
  include includes/_payment

block footer
  include includes/_footer